.sidebar {
    grid-column: 2;
    position: fixed;
    top: 100px;
    left: 25%;
    
    width: 200px;
    background-color: #f9f9f9;
    border: 1px groove #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
 .main-contect{
    position: relative;
    width: 75%;
  }